//color variables

$background: #221f44;
$primary-green: #98ca3e;
$primary-light: #f6f5ff;
$secondary-light: #e8e6ff;
$input-color: #383557;
$label-color: #2f2266;
$input-text: #E2F4FF;
$light-font-color: #ffffff;
$dark-font-color: #110a29;

//fonts

$main-font: 'Lato', sans-serif;
$additional-font: 'Staatliches', cursive;