.contact-heading {
  font-family: $additional-font;
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
  color: $light-font-color;
}

.forms {
  max-width: 420px;

}

.v-text-field.input {
  height: 48px;
  background-color: blueviolet;
  border-radius: 8px;
}

.v-text-field > .v-input__control > .v-input__slot:before, .v-text-field > .v-input__control > .v-input__slot:after {
  border: none;
}

.theme--light.v-text-field--solo > .v-input__control > .v-input__slot {
  border-radius: 8px;
  background-color: blueviolet;
}

textarea {
  resize: none;
  max-height: 96px;
}

.theme--light.v-label {
  top: 3px;
  left: 16px;
  //color: #e2f4ff;
  color: red;
}