.contact-heading {
  margin-bottom: 37px;
  font-family: $additional-font;
  @include fluid-type(48px, 52px);
  font-weight: 400;
  line-height: 1;
  color: $light-font-color;
}

.phone {
  font-family: $additional-font;
  @include fluid-type(30px, 28px);
  line-height: 36px;
  @media all and (min-width: 960px) {
    line-height: 32px;
  }
}

.forms {
  max-width: 420px;
  .theme--light.v-btn.v-btn--disabled:not(.v-btn--icon):not(.v-btn--flat):not(.v-btn--outline) {
    background-color: $primary-green;
  }
}

.v-text-field.input {
  height: 48px;
  margin-bottom: 12px;
  //margin-left: 16px;
  //padding-left: 16px;
  //background-color: $light-font-color;
  //opacity: 0.1;
  background-color: $input-color;
  border-radius: 8px;
}

.v-text-field > .v-input__control > .v-input__slot:before, .v-text-field > .v-input__control > .v-input__slot:after {
  border: none;
}

.v-text-field > .v-input__control > .v-input__slot {
  margin-bottom: 3px;
  background-color: $input-color;
}

.forms {
  .v-input input:focus, .v-input textarea:focus, .v-input input:active, .v-input textarea:active {
    background-color: $input-color !important;
  }
  .error--text {
     margin-top: 2px;
   }
}

.theme--light.v-text-field--solo > .v-input__control > .v-input__slot {
  border-radius: 8px;
  //background-color: $light-font-color;
  //opacity: 0.1;
  background-color: $input-color;
}

textarea {
  resize: none;
  max-height: 96px;
}

.v-textarea.v-text-field--box.v-text-field--single-line .v-label, .v-textarea.v-text-field--enclosed.v-text-field--single-line .v-label {
  margin-left: 0;
}

.theme--light.v-label {
  top: 3px;
  //margin-left: 16px;
  color: $input-text;
  opacity: 0.5;
}

.theme--light.v-input:not(.v-input--is-disabled) input, .theme--light.v-input:not(.v-input--is-disabled) textarea {
  color: $input-text;
  opacity: 0.5;
}

.v-input.input.v-text-field.v-text-field--single-line.v-text-field--solo.v-text-field--enclosed.v-input--has-state.theme--light.error--text {
  margin-bottom: 32px;
}

.theme--light.v-btn.v-btn--disabled:not(.v-btn--icon):not(.v-btn--flat):not(.v-btn--outline) {
  background-color: $primary-green !important;
}

