.result-link {
  padding-top: 24px;
  margin-left: 57px;
  @media all and (min-width: 960px) {
    padding-top: 44px;
    margin-left: 80px;
  }
}

.layout.wrap.capture-recomendation {
  flex-direction: column;
  @media all and (min-width: 960px) {

  }
}

.capture-recomendation {
  padding-top: 24px;
  @media all and (min-width: 960px) {
    padding-top: 100px;
  }
}

.result-hero {
  text-align: left;
  @media all and (min-width: 960px) {
    margin: 0 auto 48px;
  }
}

.result-hero-title {
  font-family: $additional-font;
  @include fluid-type(36px, 52px);
  font-weight: 400;
  line-height: 36px;
  color: $light-font-color;
  margin-bottom: 16px;
  @media all and (min-width: 960px) {
    text-align: center;
    line-height: 64px;
    margin-bottom: 24px;
  }
}

.recommendation-descript {
  color: $light-font-color;
  @media all and (min-width: 960px) {
    max-width: 576px;
    text-align: center;
  }
}

.recommendation {
  .theme--light.v-sheet {
    max-width: 384px;
    margin: 0 auto;
    border-radius: 8px;
  }
}

.recommendation-item {
  display: flex;
}

.recommendation-item-hero {
  padding-bottom: 45px;
  background: $secondary-light;
}

.recommendation-choice-item {
  width: 150px;
  margin: 0 auto 25px;
  background-color: #cdc2fc;
  border-radius: 0 0 10px 10px;
}

.platform-image {
  //max-width: 200px;
  margin: 0 auto;
  .v-image__image--cover {
    background-size: inherit;
  }
  .v-responsive__sizer {
    padding-bottom: 70px !important;
  }
}

.recommendation-item-main {
  padding: 24px;
  text-align: left;
}

.best-platform-title {
  padding-bottom: 12px;
  font-family: $additional-font;
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  color: $dark-font-color;
}

.more {
  text-align: left;
  margin-bottom: 62px;
  p {
    display: inline;
  }
}

#readmore {
  padding-left: 10px;
  font-family: $main-font;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: inherit;
  text-transform: inherit;
  color: $primary-green;
  text-decoration: none;
}

.link-examples {
  position: absolute;
  bottom: 24px;
  text-decoration: none;
  color: $primary-green;
  &:after {
    content: url(../images/arrow-right.png);
    padding-left: 16px;
    display: inline-block;
  }
  &:hover:after {
    transform: translateX(5px);
    transition: transform .3s ease-out,
    -webkit-transform .3s ease-out;
  }
}

.sl {
  @media all and (min-width: 960px) {
    display: none;
  }
}

.slick-result {
  max-width: 312px;

}

.slick-dots {
  top: 145px;
  li button:before, .slick-dots li button:after {
    color: violet;
  }
}

.slick-dots {
  top: 145px;
  li.slick-active button:before, .slick-dots li.slick-active button:after {
    color: mediumvioletred;
  }
}

//.nameCompar {
//  width: 120px;
//  display: block;
//  position: fixed;
//  background: yellowgreen;
//  font-size: 16px;
//}

.result-table {
  width: 400px;
}


